<Layouts.admin current_scope={@current_scope} menu_title={gettext("<%= schema.human_plural %>")} flash={@flash}>
  <.header>
    {@page_title}
    <:subtitle>Use this form to manage <%= schema.singular %> records in your database.</:subtitle>

    <:actions>
      <.button navigate={~p"<%= schema.route_prefix %>"}>
        <.icon name="hero-arrow-left" />
      </.button>
    </:actions>
  </.header>

  <div class="max-w-5xl">
    <.card
      visible={@conflict}
      state={:error}
      title="⚠️ 충돌 발생!"
    >
      <p>{@conflict_msg}</p>
      <p>현재 편집 내용을 저장할 수 없습니다. 새로고침 후 다시 시도해 주세요.</p>
      <p>
        <.link class="btn" navigate={@current_path}>새로고침</.link>
      </p>
    </.card>

    <.form
      for={@form}
      id="<%= schema.singular %>-form"
      phx-change="validate"
      phx-submit="save"
    >
<%= Mix.Tasks.Itsm.Gen.AdminHtml.indent_inputs(inputs, 8) %>
      <.itsm_calendar
        :if={@live_action == :edit}
        field={@form[:inserted_at]}
        label={gettext("Inserted At")}
        show_time
        default_selected_date_time={@form[:inserted_at].value}
      />
      <.button :if={!@conflict} phx-disable-with="Saving...">Save <%= schema.human_singular %></.button>
    </.form>
  </div>
</Layouts.admin>
