<Layouts.admin current_scope={@current_scope} menu_title={gettext("<%= schema.human_plural %>")} flash={@flash}>
  <.header>
    <%= schema.human_singular %> {@<%= schema.singular %>.id}
    <:subtitle>This is a <%= schema.singular %> record from your database.</:subtitle>
    <:actions>
      <.button navigate={~p"<%= schema.route_prefix %>"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.link navigate={~p"<%= schema.route_prefix %>/#{@<%= schema.singular %>}/edit"}>
        <.button>Edit <%= schema.human_singular %></.button>
      </.link>
    </:actions>
  </.header>

  <.list><%= for {k, type} <- schema.attrs do %>
    <%= if type == :utc_datetime do %><:item title={<%= "gettext(\"#{ItsmWeb.LiveUtils.titleize(k)}\")" %>}>
      <span id={"<%= schema.singular %>-<%= k %>-#{@<%= schema.singular %>.id}"} phx-hook="LocalTime.ToLocale" utc-value={@<%= schema.singular %>.<%= k %>} />
    </:item><% else %><:item title={<%= "gettext(\"#{ItsmWeb.LiveUtils.titleize(k)}\")" %>}>{@<%= schema.singular %>.<%= k %>}</:item><% end %><% end %>
    <:item title={gettext("Inserted At")}>
      <span
        id={"<%= schema.singular %>-inserted-at-#{@<%= schema.singular %>.id}"}
        phx-hook="LocalTime.ToLocale"
        utc-value={@<%= schema.singular %>.inserted_at}
      />
    </:item>
    <:item title={gettext("Updated At")}>
      <span
        id={"<%= schema.singular %>-updated-at-#{@<%= schema.singular %>.id}"}
        phx-hook="LocalTime.ToLocale"
        utc-value={@<%= schema.singular %>.updated_at}
      />
    </:item>
  </.list>
</Layouts.admin>
