<.header>
  Listing {Map.get(assigns, :board_name, "Not Found")} Posts
  <:actions>
    <.link
      :if={assigns[:board_name] not in ["공지사항", "FAQ"]}
      patch={~p"/posts/new?board_id=#{assigns[:board_id] || ""}&menu_id=boards"}
    >
      <.button>New Post</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="posts"
  rows={@streams.posts}
  row_click={
    fn {_id, post} ->
      JS.navigate(~p"/posts/#{post}?board_id=#{assigns[:board_id] || ""}&menu_id=boards")
    end
  }
>
  <:col :let={{_id, post}} label={gettext("Title")}>{post.title}</:col>

  <:col :let={{_id, post}} label={gettext("Content")}>{post.content}</:col>

  <:col :let={{_id, post}} label={gettext("Author")}>{post.author.display_name}</:col>
</.table>

<.back navigate={~p"/boards?menu_id=boards"}>
  Back to boards
</.back>

<.modal
  :if={@live_action in [:new, :edit]}
  id="post-modal"
  show
  on_cancel={JS.patch(~p"/posts?board_id=#{assigns[:board_id] || ""}&menu_id=boards")}
>
  <.live_component
    module={ItsmWeb.PostLive.FormComponent}
    id={@post.id || :new}
    title={@page_title}
    action={@live_action}
    post={@post}
    current_scope={@current_scope}
    patch={~p"/posts?board_id=#{assigns[:board_id] || ""}&menu_id=boards"}
    board_id={assigns[:board_id]}
    board_name={assigns[:board_name]}
  />
</.modal>
