<.header>
  Listing {Map.get(assigns, :board_name, "Not Found")} Posts
  <:actions :if={assigns[:board_name] != "공지사항"}>
    <.link patch={~p"/posts/new?board_id=#{assigns[:board_id] || ""}"}>
      <.button>New Post</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="posts"
  rows={@streams.posts}
  row_click={
    fn {_id, post} ->
      JS.navigate(~p"/posts/#{post}?board_id=#{assigns[:board_id] || ""}&menu_id=boards")
    end
  }
>
  <:col :let={{_id, post}} label={gettext("Title")}>{post.title}</:col>
  
  <:col :let={{_id, post}} label={gettext("Content")}>{post.content}</:col>
  
  <:col :let={{_id, post}} label={gettext("Author")}>{post.author.display_name}</:col>
</.table>

<.modal
  :if={@live_action in [:new, :edit]}
  id="post-modal"
  show
  on_cancel={JS.patch(~p"/posts?board_id=#{assigns[:board_id] || ""}")}
>
  <.live_component
    module={ItsmWeb.PostLive.FormComponent}
    id={@post.id || :new}
    title={@page_title}
    action={@live_action}
    post={@post}
    current_user={@current_user}
    patch={~p"/posts?board_id=#{assigns[:board_id] || ""}"}
    board_id={assigns[:board_id]}
    board_name={assigns[:board_name]}
  />
</.modal>
