<.header>
  Listing Crews
  <:actions><.link patch={~p"/admin/crews/new"}><.button>New Crew</.button></.link></:actions>
</.header>
<.itsm_table_container results={@results}>
  <.table
    id="crews"
    rows={@streams.crews}
    row_click={fn {_id, crew} -> JS.navigate(~p"/admin/crews/#{crew}") end}
  >
    <:col :let={{_id, crew}} label={gettext("Name")}>{crew.name}</:col>

    <:col :let={{_id, crew}} label={gettext("Description")}>{crew.description}</:col>

    <:action :let={{_id, crew}}>
      <div class="sr-only"><.link navigate={~p"/admin/crews/#{crew}"}>Show</.link></div>
      <.link patch={~p"/admin/crews/#{crew}/edit"}>Edit</.link>
    </:action>

    <:action :let={{id, crew}}>
      <.link
        phx-click={JS.push("delete", value: %{id: crew.id}) |> hide("##{id}")}
        data-confirm="Are you sure?"
      >
        Delete
      </.link>
    </:action>
  </.table>
</.itsm_table_container>
<.modal
  :if={@live_action in [:new, :edit]}
  id="crew-modal"
  show
  on_cancel={JS.patch(~p"/admin/crews?#{@results.params}")}
>
  <.live_component
    module={ItsmWeb.Admin.CrewLive.FormComponent}
    id={@crew.id || :new}
    title={@page_title}
    action={@live_action}
    crew={@crew}
    current_user={@current_user}
    patch={~p"/admin/crews?#{@results.params}"}
  />
</.modal>
