<.header>
  Crew {@crew.id}
  <:subtitle>This is a crew record from your database.</:subtitle>

  <:actions>
    <.link patch={~p"/admin/crews/#{@crew}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit crew</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name">{@crew.name}</:item>

  <:item title="Description">{@crew.description}</:item>

  <:item title={gettext("Inserted at")}>
    <span
      id={"crew-inserted-at-#{@crew.id}"}
      phx-hook="LocalTime.ToLocale"
      utc-value={@crew.inserted_at}
    >
    </span>
  </:item>

  <:item title={gettext("Updated at")}>
    <span
      id={"crew-updated-at-#{@crew.id}"}
      phx-hook="LocalTime.ToLocale"
      utc-value={@crew.updated_at}
    >
    </span>
  </:item>
</.list>

<.back navigate={~p"/admin/crews"}>Back to crews</.back>

<.modal
  :if={@live_action == :edit}
  id="crew-modal"
  show
  on_cancel={JS.patch(~p"/admin/crews/#{@crew}")}
>
  <.live_component
    module={ItsmWeb.Admin.CrewLive.FormComponent}
    id={@crew.id}
    title={@page_title}
    action={@live_action}
    crew={@crew}
    patch={~p"/admin/crews/#{@crew}"}
  />
</.modal>
