<div>
  <.calendar_ui
    field={@field}
    id={@id}
    label={@label}
    selected_date_time={@selected_date_time}
    show_time={@show_time}
    view_date={@view_date}
    target={@myself}
    start_col_class={@start_col_class}
    days={@days}
    errors={@errors}
    rests={@rests}
    {@rest}
  />
</div>
