<.header>
  Listing Attachments
  <.link patch={~p"/admin/attachments/new"}>
    <.button>New Attachment</.button>
  </.link>
</.header>

<.itsm_table_container results={assigns[:results]}>
  <.table
    id="attachments"
    rows={@streams.attachments}
    row_click={fn {_id, attachment} -> JS.navigate(~p"/admin/attachments/#{attachment}") end}
  >
    <:col :let={{_id, attachment}} label={gettext("Resource ID")}>
      <.copyable_text label={gettext("ID")} value={attachment.resource_id} />
    </:col>
    <:col :let={{_id, attachment}} label={gettext("Resource Type")}>
      {attachment.resource_type}
    </:col>
    <:col :let={{_id, attachment}} label={gettext("Filename")}>{attachment.filename}</:col>
    <:col :let={{_id, attachment}} label={gettext("Local Path")}>{attachment.local_path}</:col>
    <:col :let={{_id, attachment}} label={gettext("File Type")}>{attachment.file_type}</:col>
    <:col :let={{_id, attachment}} label={gettext("Byte Size")}>{attachment.byte_size}</:col>
    <:col :let={{_id, attachment}} label={gettext("Status")}>{attachment.status}</:col>
    <:col :let={{id, attachment}} label={gettext("Deleted At")}>
      <div
        id={"deleted_at-#{id}"}
        phx-hook="LocalTime.ToLocale"
        utc-value={attachment.deleted_at}
      />
    </:col>
    <:action :let={{_id, attachment}}>
      <div class="sr-only">
        <.link navigate={~p"/admin/attachments/#{attachment}"}>Show</.link>
      </div>
      <.link patch={~p"/admin/attachments/#{attachment}/edit"}>Edit</.link>
    </:action>
    <:action :let={{_id, attachment}}>
      <.link
        id={attachment.id}
        phx-click={JS.push("delete", value: %{id: attachment.id})}
        class="phx-click-loading:opacity-50 phx-click-loading:cursor-wait"
        data-confirm="Are you sure?"
      >
        Delete
      </.link>
    </:action>
  </.table>
</.itsm_table_container>

<.modal
  :if={@live_action in [:new, :edit]}
  id="attachment-modal"
  show
  on_cancel={JS.patch(~p"/admin/attachments?#{assigns[:results][:params] || %{}}")}
>
  <.live_component
    module={ItsmWeb.Admin.AttachmentLive.FormComponent}
    id={@attachment.id || :new}
    title={@page_title}
    action={@live_action}
    attachment={@attachment}
    current_scope={@current_scope}
    patch={~p"/admin/attachments?#{assigns[:results][:params] || %{}}"}
  />
</.modal>
