<.header>
  Listing AssetsShadow
  <:actions>
    <.link patch={~p"/admin/assets-shadow/new"}>
      <.button>New AssetShadow</.button>
    </.link>
  </:actions>
</.header>

<.itsm_table_container results={assigns[:results]}>
  <.table
    id="assets_shadow"
    rows={@streams.assets_shadow}
    row_click={
      fn {_id, asset_shadow} -> JS.navigate(~p"/admin/assets-shadow/#{asset_shadow}") end
    }
  >
    <:col :let={{_id, asset_shadow}} label={gettext("Mapping Value")}>
      {asset_shadow.mapping_value}
    </:col>
    <:col :let={{_id, asset_shadow}} label={gettext("Name")}>{asset_shadow.name}</:col>
    <:col :let={{_id, asset_shadow}} label={gettext("Description")}>
      {asset_shadow.description}
    </:col>
    <:col :let={{_id, asset_shadow}} label={gettext("Affiliate")}>
      <.common_code_label group="계열사" code={asset_shadow.affiliate} />
    </:col>
    <:col :let={{_id, asset_shadow}} label={gettext("Category")}>
      <.common_code_label group="카테고리" code={asset_shadow.category} />
    </:col>
    <:col :let={{_id, asset_shadow}} label={gettext("Region Type")}>
      <.common_code_label group="지역_유형" code={asset_shadow.region_type} />
    </:col>
    <:col :let={{_id, asset_shadow}} label={gettext("Infra Type")}>
      <.common_code_label group="인프라_유형" code={asset_shadow.infra_type} />
    </:col>
    <:col :let={{_id, asset_shadow}} label={gettext("Environment")}>
      <.common_code_label group="운영_구분" code={asset_shadow.env} />
    </:col>
    <:col :let={{_id, asset_shadow}} label={gettext("Location")}>
      <.common_code_label group="장소" code={asset_shadow.location} />
    </:col>
    <:col :let={{_id, asset_shadow}} label={gettext("Is Dmz Zone")}>
      {asset_shadow.is_dmz_zone}
    </:col>
    <:col :let={{_id, asset_shadow}} label={gettext("Service Crew")}>
      {Map.get(asset_shadow.service_crew || %{}, :name)}
    </:col>
    <:col :let={{_id, asset_shadow}} label={gettext("System Crew")}>
      {Map.get(asset_shadow.system_crew || %{}, :name)}
    </:col>
    <:action :let={{_id, asset_shadow}}>
      <div class="sr-only">
        <.link navigate={~p"/admin/assets-shadow/#{asset_shadow}"}>Show</.link>
      </div>
      <.link patch={~p"/admin/assets-shadow/#{asset_shadow}/edit"}>Edit</.link>
    </:action>
    <:action :let={{_id, asset_shadow}}>
      <.link
        id={asset_shadow.id}
        phx-click={JS.push("delete", value: %{id: asset_shadow.id})}
        class="phx-click-loading:opacity-50 phx-click-loading:cursor-wait"
        data-confirm="Are you sure?"
      >
        Delete
      </.link>
    </:action>
  </.table>
</.itsm_table_container>

<.modal
  :if={@live_action in [:new, :edit]}
  id="asset_shadow-modal"
  show
  on_cancel={JS.patch(~p"/admin/assets-shadow?#{assigns[:results][:params] || %{}}")}
>
  <.live_component
    module={ItsmWeb.Admin.AssetLive.AssetShadowLive.FormComponent}
    id={@asset_shadow.id || :new}
    title={@page_title}
    action={@live_action}
    asset_shadow={@asset_shadow}
    current_scope={@current_scope}
    patch={~p"/admin/assets-shadow?#{assigns[:results][:params] || %{}}"}
  />
</.modal>
