<Layouts.admin current_scope={@current_scope} menu_title={gettext("Approvals")} flash={@flash}>
  <div class="max-w-5xl">
    <.header>
      {@page_title}
      <:subtitle>Use this form to manage approval records in your database.</:subtitle>

      <:actions>
        <.button navigate={~p"/admin/approvals"}>
          <.icon name="hero-arrow-left" />
        </.button>
      </:actions>
    </.header>

    <.card
      visible={@conflict}
      state={:error}
      title="⚠️ 충돌 발생!"
    >
      <p>{@conflict_msg}</p>
      <p>현재 편집 내용을 저장할 수 없습니다. 새로고침 후 다시 시도해 주세요.</p>
      <p><.link class="btn" navigate={@current_path}>새로고침</.link></p>
    </.card>

    <.form
      for={@form}
      id="approval-form"
      phx-change="validate"
      phx-submit="save"
    >
      <.input
        field={@form[:request_id]}
        type="select"
        label={gettext("Request")}
        options={@request_options}
      />
      <.input
        field={@form[:status]}
        type="select"
        label={gettext("Status")}
        prompt="Choose a value"
        options={Ecto.Enum.values(Itsm.Service.Approval, :status)}
      />
      <.input
        field={@form[:approver_id]}
        type="select"
        label={gettext("Approver")}
        options={@approver_options}
      />
      <.itsm_calendar
        :if={@live_action == :edit}
        field={@form[:inserted_at]}
        label={gettext("Inserted At")}
        show_time
        default_selected_date_time={@form[:inserted_at].value}
      />
      <.button :if={!@conflict} phx-disable-with="Saving...">Save Approval</.button>
    </.form>
  </div>
</Layouts.admin>
