<.header>{@page_title}</.header>

<.form for={@form} id="request-form" phx-change="validate" phx-submit="save">
  <.input
    field={@form[:requestor_crew_id]}
    type="select"
    label={gettext("My Crew")}
    prompt="Choose a crew"
    options={@crew_options}
  /> <.input field={@form[:title]} type="text" label={gettext("Title")} phx-debounce="blur" />
  <.input
    field={@form[:description]}
    type="textarea"
    label={gettext("Description")}
    phx-hook="MaintainHeight"
    phx-debounce="blur"
  />
  <.input
    field={@form[:env]}
    type="select"
    label={gettext("Environment")}
    prompt="Choose an environment"
    options={[운영: :prod, 스테이징: :stg, 개발: :dev, DR: :dr]}
    phx-debounce="blur"
  /> <.input field={@form[:due_date]} type="datetime-local" label={gettext("Due Date")} />
  <div class="mb-6">
    <h2 class="text-lg font-semibold text-zinc-700">VM 생성 요청</h2>
    
    <button
      class="mt-4 text-zinc-700"
      name="request[common_k_create_vms_sort][]"
      phx-click={JS.dispatch("change")}
      type="button"
      value="new"
    >
      <.icon name="hero-plus-circle" class="h-5 w-5 relative top-[-1px]" /> add more
    </button>
    <div id="request-inputs" class="p-4 space-y-6">
      <.inputs_for :let={common_k_create_vm_f} field={@form[:common_k_create_vms]}>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <input
            type="hidden"
            name="request[common_k_create_vms_sort][]"
            value={common_k_create_vm_f.index}
          />
          <.input
            field={common_k_create_vm_f[:hostname]}
            label={gettext("Hostname")}
            type="text"
            phx-debounce="blur"
          />
          <.input
            field={common_k_create_vm_f[:description]}
            label={gettext("Description")}
            type="text"
            phx-debounce="blur"
          />
          <.input
            field={common_k_create_vm_f[:os_image]}
            label="OS 종류"
            type="select"
            prompt="Choose a value"
            options={Ecto.Enum.values(Itsm.Service.CommonKCreateVm, :os_image)}
            phx-debounce="blur"
          />
          <.input
            field={common_k_create_vm_f[:os_version]}
            type="select"
            label="OS 버전"
            prompt="Choose a value"
            options={os_version_options_for(common_k_create_vm_f)}
            phx-debounce="blur"
          />
          <.input
            field={common_k_create_vm_f[:cpu_memory]}
            label="CPU/메모리"
            type="text"
            phx-debounce="blur"
          />
        </div>
        
        <button
          type="button"
          name="request[common_k_create_vms_drop][]"
          value={common_k_create_vm_f.index}
          phx-click={JS.dispatch("change")}
          class="relative -top-1"
        >
          <.icon name="hero-x-mark" class="w-5 h-5" />
        </button>
      </.inputs_for>
       <input type="hidden" name="request[common_k_create_vms_drop][]" />
    </div>
  </div>
   <%!-- 파일업로드 --%>
  <%!-- <fieldset class="fieldset">
    <legend class="fieldset-legend">Page title</legend>
    <figure :for={entry <- @uploads.attachment.entries} class="flex justify-around">
      <div class="relative">
        <.live_img_preview entry={entry} class="rounded max-h-64 shadow" />
        <figcaption class="text-center text-sm text-gray-700 mt-2">
          {entry.client_name}
        </figcaption>
      </div>
    </figure>
     
  </fieldset> --%>
  <%!-- {inspect(@uploads.attachment)}  --%>
  <%!-- <div class="my-4 text-slate-600 text-sm">Add up to {@uploads.attachment.max_entries} attachment
    (max {trunc(@uploads.attachment.max_file_size / 1_000_000)} MB each)</div> --%>
  <label class="block text-sm font-semibold text-zinc-700 mb-2">{gettext("Attachments")}</label>
  <.live_file_input class="hidden" upload={@uploads.attachment} />
  <%!--  Dropzone UI component  --%>
  <label
    class="flex flex-col items-center justify-center w-full h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100 mt-2"
    for={@uploads.attachment.ref}
    phx-drop-target={@uploads.attachment.ref}
  >
    <div class="flex flex-col items-center justify-center pt-5 pb-6">
      <.icon name="hero-arrow-up-tray" class="w-8 h-8 mb-4 text-gray-500" />
      <p class="mb-2 text-sm text-gray-500">
        <span class="font-semibold">Click to upload</span> or drag and drop
      </p>
      
      <p class="text-xs text-gray-500">
        <%!-- PNG or JPG (Max. {trunc(@uploads.attachment.max_file_size / (1 * 1024 * 1024))} Mb each) --%> {@uploads.attachment.max_entries} photos max,
        up to {trunc(@uploads.attachment.max_file_size / (1 * 1024 * 1024))} MB each
      </p>
    </div>
  </label>
  <.error :for={err <- upload_errors(@uploads.attachment)}>{Phoenix.Naming.humanize(err)}</.error>
  
  <div class="flex flex-wrap items-center justify-center w-full">
    <div :for={entry <- @uploads.attachment.entries} class="inline-flex">
      <div class="text-center p-4 m-4 border-2 border-slate-300 rounded-xl">
        <.live_img_preview entry={entry} class="h-64 sm:h-36 mx-auto object-fill" />
        <div class="mt-2 text-base text-slate-600 font-medium">{entry.client_name}</div>
        
        <.error :for={err <- upload_errors(@uploads.attachment, entry)}>
          {Phoenix.Naming.humanize(err)}
        </.error>
        
        <a
          phx-click="cancel"
          phx-value-ref={entry.ref}
          class="mt-2 inline-block text-2xl font-bold text-slate-500 hover:text-red-600 cursor-pointer"
        >
          &times;
        </a>
      </div>
    </div>
  </div>
  
  <%!-- <figure
    :for={entry <- @uploads.attachment.entries}
    class="my-6 flex items-center justify-start space-x-6"
  >
    <.live_img_preview entry={entry} class="w-32" />
    <div class="w-50">
      <figcaption class="text-left mb-2 text-xs font-semibold inline-block text-indigo-600">
        {entry.client_name}
      </figcaption>
      
      <.error :for={err <- upload_errors(@uploads.attachment, entry)}>
        {Phoenix.Naming.humanize(err)}
      </.error>
    </div>
    
    <a
      phx-click="cancel"
      phx-value-ref={entry.ref}
      class="text-3xl font-bold text-slate-700 hover:text-red-700 cursor-pointer"
    >
      &times;
    </a>
  </figure> --%>
  <%!-- 승인자 섹션 --%>
  <%!-- <.input
    field={@form[:assignee_name]}
    type="text"
    label={gettext("Approver")}
    placeholder={gettext("Search by name")}
  >
    <:option :let={option}> --%>
  <%!-- 이름 외 옵션 표출 --%>
  <%!-- <div class="flex flex-col">
        <span class="font-bold">{option.label}</span>
        <span class="text-sm text-gray-600">
          ID: {option.value} | Email: {option.email} | Organization: {option.organization} | Department: {option.department}
        </span>
      </div>
    </:option>
  </.input> --%>
  <.live_select
    field={@form[:assignee_id]}
    label={gettext("Approver")}
    placeholder={gettext("Search by name")}
  >
    <:option :let={option}>
      <%!-- 이름 외 옵션 표출 --%>
      <div class="flex flex-col">
        <span class="font-bold">{option.label}</span>
        <span class="text-sm text-gray-600">
          ID: {option.value} | Email: {option.email} | Organization: {option.organization} | Department: {option.department}
        </span>
      </div>
    </:option>
  </.live_select>
  
  <div class="mb-6">
    <label class="block text-sm font-semibold text-zinc-700 mb-2">
      {gettext("Crews to reference")}
    </label>
    <input
      type="text"
      readonly
      value={
        Enum.map(@referenced_crews_id, fn crew_id -> Team.get_crew!(crew_id).name end)
        |> Enum.join(", ")
      }
      placeholder="선택된 crew가 없습니다"
      phx-click="open_crew_modal"
      class="w-full px-3 py-2 border border-gray-300 rounded-lg bg-gray-100 cursor-pointer"
    />
  </div>
  
  <div class="flex">
    <.button phx-disable-with="Saving...">Save Recipe</.button>
    <.loading_spinner class="hidden phx-submit-loading:inline-block ml-4 mb-5" />
  </div>
</.form>

<%!-- <.modal
  :if={@show_crew_modal}
  id="crews-search"
  on_cancel={JS.patch(@current_path)}
  show
>
  <.live_component
    module={ItsmWeb.SearchCrewsDialog}
    id="search-crews"
    parent_pid={self()}
  />
</.modal> --%>
<.back navigate={~p"/categories"}>Back</.back>
