<div class="flex gap-6">
  <div class="flex-1">
    <.request_header request={@request} /> <.request_info request={@request} />
    <.vm_section
      :if={Enum.any?(@request.common_k_create_vms)}
      vms={@request.common_k_create_vms}
    />
    <.attachments_section
      :if={Enum.any?(@request.attachments)}
      attachments={@request.attachments}
    /> <.comments_section streams={@streams} />
    <.comment_form
      :if={@request.status not in [:closed, :rejected]}
      form={@form}
      uploads={@uploads}
    />
    <.back navigate={~p"/requests"}>Back</.back>
  </div>
   <%!-- Work Flow sidebar--%>
  <.workflow_sidebar
    workflow_type={:service_request}
    resource={@request}
  />
</div>

<.attachment_modal
  :if={@selected_attachment}
  attachment={@selected_attachment}
/>
