<Layouts.default current_path={@current_path} current_params={@current_params} flash={@flash}>
  <.header>{@page_title}</.header>
  
  <.itsm_table_container results={assigns[:results]}>
    <.crew_table
      crews={@streams.crews}
      row_click={
        fn {_id, crew} ->
          return_url = ~p"/crews/all?#{assigns[:results][:params] || %{}}"
          JS.navigate(~p"/crews/#{crew}?return_to=#{return_url}&menu_id=all_crews")
        end
      }
    >
    </.crew_table>
  </.itsm_table_container>
</Layouts.default>
