<.header>{@page_title}</.header>

<.itsm_table_container results={assigns[:results]}>
  <.crew_table
    crews={@streams.crews}
    row_click={
      fn {_id, crew} ->
        return_url = ~p"/crews/all?#{assigns[:results][:params] || %{}}&menu_id=all_crews"
        JS.navigate(~p"/crews/#{crew}?return_to=#{return_url}&menu_id=all_crews")
      end
    }
  >
  </.crew_table>
</.itsm_table_container>
