<Layouts.default current_scope={@current_scope} menu_title={gettext("My Crews")} flash={@flash}>
  <.header>
    {@page_title}
    <:actions>
      <.button patch={~p"/crews/new"} variant="primary">{gettext("New Crew")}</.button>
    </:actions>
  </.header>

  <.table
    id="crews"
    rows={@streams.crews}
    row_click={fn {_id, crew} -> JS.navigate(~p"/crews/#{crew}") end}
    >
    <:col :let={{_id, crew}} label={gettext("Name")}>{crew.name}</:col>
    <:col :let={{_id, crew}} label={gettext("Description")}>{crew.description}</:col>
    <:col :let={{_id, crew}} label={gettext("Organization")}>
      <.common_code_label group="계열사" code={LiveUtils.fetch_safe(crew.leader, :organization_code)} />
    </:col>
    <:col :let={{_id, crew}} label={gettext("Department")}>
      {LiveUtils.fetch_safe(crew.leader, :department)}
    </:col>
    <:col :let={{_id, crew}} label={gettext("Leader")}>
      {LiveUtils.fetch_safe(crew.leader, :display_name)}
    </:col>
    <:action :let={{_id, crew}} >
      <div class="dropdown dropdown-top dropdown-end" >
        <div tabindex="0" role="button" class="btn m-1" >
        <.icon name="hero-ellipsis-vertical" class="h-6 w-6"/>
        ️</div>
        <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
          <li>
            <.link patch={~p"/crews/#{crew}/edit"}>
              <.icon name="hero-pencil" class="w-4 h-4" />Edit Crew
            </.link>
          </li>
          <li>
            <.link phx-click={JS.push("delete", value: %{id: crew.id})} data-confirm="Are you sure?" >
              <.icon name="hero-trash" class="w-4 h-4" /> Delete Crew
            </.link>
          </li>
        </ul>
      </div>
    </:action>
  </.table>
</Layouts.default>
