<Layouts.default current_scope={@current_scope} menu_title={@menu_title}  flash={@flash}>
  <.header>
    Crews {@crew.name}
    <:subtitle>{@crew.description}</:subtitle>
    <:actions>
      <.button variant={get_primary(@current_scope, @crew, @menu_title) } navigate={@back_path}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.button :if={can_leader?(@current_scope, @crew)} variant="primary" phx-click="show_member_modal">Add Member</.button>
    </:actions>
  </.header>

  <div class="flex flex-col gap-3 md:gap-5 lg:gap-6">
    <ul class="list bg-base-100 rounded-box shadow-md">
      <li class="p-4 pb-2 text-base font-semibold opacity-60 tracking-wide">Leader</li>
      <li class="list-row">
        <div>
          <div class={["avatar avatar-placeholder", can_leader?(@current_scope, @crew) && "avatar-online"]}>
            <div class="bg-neutral text-neutral-content w-12 rounded-full uppercase">
              <span>{get_leader_info(@crew, :first_name)}</span>
            </div>
          </div>
        </div>
        <div>
          <div>{get_leader_info(@crew, :name)}
          </div>
          <div class="text-xs font-semibold opacity-60">
            Updated
            <span id="leader-updated-at" phx-hook="LocalTime.ToLocale" utc-value={@crew.leader_updated_at} />
          </div>
        </div>
      </li>
    </ul>
    <ul id="members" class="list bg-base-100 rounded-box shadow-md" phx-update="stream">
      <li id="member_title" class="order-first p-4 pb-2 text-base font-semibold opacity-60 tracking-wide">Members</li>
      <li :for={{dom_id, %CrewsUsers{user: user}=crews_users} <- @streams.crews_userses} id={dom_id} class="list-row">
        <div>
          <div class={["avatar avatar-placeholder", @current_scope.user.id == user.id && "avatar-online"]}>
            <div class="bg-neutral text-neutral-content w-12 rounded-full uppercase">
              <span>{String.first(user.display_name)}</span>
            </div>
          </div>
        </div>
        <div>
          <div>{user.display_name} ({user.email})</div>
          <div class="text-xs font-semibold opacity-60">
              Added
              <span id={"member-inserted-at-#{user.id}"} phx-hook="LocalTime.ToLocale" utc-value={crews_users.inserted_at}/>
          </div>
        </div>
        <button :if={can_leader?(@current_scope, @crew)} phx-click="switch_leader" phx-value-user-id={user.id} class="btn btn-square btn-ghost">
          <.icon name="hero-trophy" class="w-4 h-4" />
        </button>
        <button :if={can_delete_member?(@current_scope, @crew, user)}
          phx-click="remove_member"
          phx-value-user-id={user.id}
          data-confirm="Are you sure you want to remove the member?"
          class="btn btn-square btn-ghost">
          <.icon name="hero-x-mark" class="w-4 h-4" />
        </button>
      </li>
    </ul>
  </div>

  <.daisy_modal id="search-users-modal" title="직원검색">
    <.users_search id="search-users-select" current_scope={@current_scope} opts={[exclude_crew: @crew]} />
  </.daisy_modal>
</Layouts.default>
