<Layouts.default current_path={@current_path} current_params={@current_params}  flash={@flash}>
  <.header>
    {@crew.name}
    <:subtitle>{@crew.description}</:subtitle>
     <%!-- 리더만 멤버추가 가능 --%>
    <:actions>
      <.button
        :if={Enum.empty?(@crew.crews_users) or @current_scope.user.id == @crew.leader.id}
        phx-click="show_member_modal"
      >Add Member</.button>
    </:actions>
  </.header>

  <div class="mt-6 mb-6 p-6 space-y-6">
    <div class="space-y-3">
      <h3 class="text-sm font-bold text-gray-700">Leader</h3>

      <div id="leader-info" phx-update="replace" class="flex items-center py-2">
        <div class="flex items-center gap-3">
          <div>
            <p class="text-sm text-gray-900">
              <%!-- 리더가 없을때의 경우를 대비해서 if문으로 --%> {if @crew.leader,
                do: "#{@crew.leader.display_name} (#{@crew.leader.email})",
                else: "Loading..."}
            </p>
             <%!-- <p class="text-xs text-gray-500">Updated {@crew.leader.updated_at}</p> --%>
            <p class="text-xs text-gray-500">
              Updated
              <span
                id="leader-updated-at"
                phx-hook="LocalTime.ToLocale"
                utc-value={if @crew.leader, do: @crew.leader_updated_at, else: ""}
              ></span>
            </p>
          </div>
        </div>
         <%!-- 접속자가 leader일 경우 you 표시 --%>
        <span
          :if={@current_scope.user == @crew.leader}
          class="ml-12 px-2 py-1 bg-blue-50 text-blue-700 text-xs rounded-full"
        >
          You
        </span>
      </div>
    </div>

    <div class="space-y-3">
      <h3 class="text-sm font-bold text-gray-700">Members</h3>

      <div id="members" phx-update="stream" class="space-y-1">
        <div
          :for={{dom_id, crews_users} <- @streams.crews_userses}
          id={dom_id}
          class="flex items-center justify-between py-2 transition-all duration-500 animate-in fade-in slide-in-from-top-2"
          phx-remove={JS.transition("duration-300 opacity-0 scale-95")}
        >
          <div class="flex items-center gap-3">
            <div>
              <p class="text-sm text-gray-900 break-all">
                {crews_users.user.display_name} ({crews_users.user.email})
              </p>

              <p class="text-xs text-gray-500">
                Added
                <span
                  id={"member-inserted-at-#{crews_users.user.id}"}
                  phx-hook="LocalTime.ToLocale"
                  utc-value={crews_users.inserted_at}
                ></span>
              </p>
            </div>
             <%!-- 접속한 본인 you 표시 --%>
            <span
              :if={crews_users.user == @current_scope.user}
              class="ml-12 px-2 py-1 bg-blue-50 text-blue-700 text-xs rounded-full"
            >
              You
            </span>
          </div>

          <div class="flex gap-1">
            <%!-- leader 위임 버튼 --%>
            <button
              :if={@current_scope.user.id == @crew.leader.id or @crew.leader in ["", nil]}
              phx-click="switch_leader"
              phx-value-user-id={crews_users.user_id}
              class="text-gray-400 hover:text-gray-600 px-2 py-1"
              data-confirm="Are you sure you want to change the crew leader?"
            >
              <.icon name="hero-trophy" class="w-4 h-4" />
            </button>

            <button
              :if={
                @current_scope.user.id == @crew.leader.id or
                  @current_scope.user.id == crews_users.user_id
              }
              phx-click="remove_member"
              phx-value-user-id={crews_users.user_id}
              class="text-gray-400 hover:text-gray-600 px-2 py-1"
              data-confirm="Are you sure you want to remove the member?"
            >
              <.icon name="hero-x-mark" class="w-4 h-4" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
   <%!-- /crews 또는 /crews/all 진입에 따라 다름 --%>
  <.back navigate={@back_path}>Back</.back>

  <.modal
    :if={@show_member_modal}
    id="search-users"
    show
    on_cancel={JS.patch(~p"/crews/#{@crew}?menu_id=crews")}
  >
    <.users_search
      id="search-users-dialog"
      current_scope={@current_scope}
      opts={[exclude_crew: @crew]}
    />
  </.modal>
</Layouts.default>
