<Layouts.admin current_scope={@current_scope} menu_title={gettext("Boards")} flash={@flash}>
  <.header>
    Board {@board.id}
    <:subtitle>This is a board record from your database.</:subtitle>

    <:actions>
      <.button navigate={~p"/admin/boards"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.link patch={~p"/admin/boards/#{@board}/edit"}>
        <.button>Edit board</.button>
      </.link>
    </:actions>
  </.header>

  <.list>
    <:item title={gettext("Name")}>{@board.name}</:item>

    <:item title={gettext("Slug")}>{@board.slug}</:item>

    <:item title={gettext("Description")}>{@board.description}</:item>

    <:item title={gettext("Metadata")}>
      {Jason.encode!(@board.metadata, pretty: true)}
    </:item>

    <:item title={gettext("Inserted At")}>
      <span
        id={"board-inserted-at-#{@board.id}"}
        phx-hook="LocalTime.ToLocale"
        utc-value={@board.inserted_at}
      />
    </:item>

    <:item title={gettext("Updated At")}>
      <span
        id={"board-updated-at-#{@board.id}"}
        phx-hook="LocalTime.ToLocale"
        utc-value={@board.updated_at}
      />
    </:item>
  </.list>

  <.back navigate={~p"/admin/boards"}>Back to boards</.back>
</Layouts.admin>
