<Layouts.admin current_scope={@current_scope} menu_title={gettext("Comments")} flash={@flash}>
  <.header>
    Listing Comments
    <:actions>
      <.link navigate={~p"/admin/comments/new"}>
        <.button>New Comment</.button>
      </.link>
    </:actions>
  </.header>

  <.itsm_table_container results={assigns[:results]}>
    <.table
      id="comments"
      rows={@streams.comments}
      row_click={fn {_id, comment} -> JS.navigate(~p"/admin/comments/#{comment}") end}
    >
      <:col :let={{id, comment}} label={gettext("Resource ID")}>
        <.copyable_text id={id} label={gettext("ID")} value={comment.resource_id} />
      </:col>

      <:col :let={{_id, comment}} label={gettext("Resource")}>{comment.resource_type}</:col>

      <:col :let={{_id, comment}} label={gettext("Comment")}>{comment.comment}</:col>

      <:col :let={{_id, comment}} label={gettext("User")}>{comment.user.display_name}</:col>

      <:action :let={{_id, comment}}>
        <div class="sr-only"><.link navigate={~p"/admin/comments/#{comment}"}>Show</.link></div>
         <.link patch={~p"/admin/comments/#{comment}/edit"}>Edit</.link>
      </:action>

      <:action :let={{_id, comment}}>
        <.link
          id={comment.id}
          phx-click={JS.push("delete", value: %{id: comment.id})}
          class="phx-click-loading:opacity-50 phx-click-loading:cursor-wait"
          data-confirm="Are you sure?"
        >
          Delete
        </.link>
      </:action>
    </.table>
  </.itsm_table_container>
</Layouts.admin>
