<Layouts.admin current_scope={@current_scope} menu_title={gettext("Comments")} flash={@flash}>
  <.header>
    Comment {@comment.id}
    <:subtitle>This is a comment record from your database.</:subtitle>

    <:actions>
      <.button navigate={~p"/admin/comments"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.link navigate={~p"/admin/comments/#{@comment}/edit"}>
        <.button>Edit comment</.button>
      </.link>
    </:actions>
  </.header>

  <.list>
    <:item title={gettext("Resource")}>{@comment.resource_type}</:item>

    <:item title={gettext("Comment")}>{@comment.comment}</:item>

    <:item title={gettext("User")}>{@comment.user.display_name}</:item>

    <:item title={gettext("Inserted At")}>
      <span
        id={"comment-inserted-at-#{@comment.id}"}
        phx-hook="LocalTime.ToLocale"
        utc-value={@comment.inserted_at}
      />
    </:item>

    <:item title={gettext("Updated At")}>
      <span
        id={"comment-updated-at-#{@comment.id}"}
        phx-hook="LocalTime.ToLocale"
        utc-value={@comment.updated_at}
      />
    </:item>
  </.list>

  <.back navigate={~p"/admin/comments"}>Back to comments</.back>
</Layouts.admin>
