<div>
  <div class="filter-section">
    <form
      {@rest}
      phx-change="update-filters"
      phx-target={@myself}
    >
      <div
        :if={@results.range_column_options not in [[], [""]]}
        class="flex gap-2"
      >
        <.input
          id={"#{@id}-util-filters-range-column"}
          type="select"
          name="range_column"
          class="select py-0 w-auto appearance-none"
          options={@results.range_column_options}
          value={@results.params.range_column}
        />
        <div class="flex justify-start items-center h-fit">
          <.itsm_calendar
            field={
              %Phoenix.HTML.FormField{
                id: "start_date",
                form: %{name: "start_date", params: %{}},
                name: "start_date",
                errors: [],
                field: String.to_atom("start_date"),
                value: ""
              }
            }
            default_selected_date_time={@results.params.start_date}
          />
          <div class="mx-1 mb-2">-</div>
          
          <.itsm_calendar
            field={
              %Phoenix.HTML.FormField{
                id: "end_date",
                form: %{name: "end_date", params: %{}},
                name: "end_date",
                errors: [],
                field: String.to_atom("end_date"),
                value: ""
              }
            }
            default_selected_date_time={@results.params.end_date}
          />
        </div>
      </div>
      
      <div
        :if={@results.columns_options not in [[], [""], ["전체"]]}
        class="flex gap-2 h-auto"
      >
        <select
          id={"#{@id}-util-filters-search-columns"}
          class="select py-0 w-auto py-1 mb-2 appearance-none"
          name="search_columns[]"
          multiple
          size={1}
          phx-hook="InputSelect.selectAll"
        >
          {Phoenix.HTML.Form.options_for_select(
            @results.columns_options,
            @results.params.search_columns
          )}
        </select>
        
        <input
          class="input w-auto"
          name="search"
          type="search"
          placeholder="검색어를 입력해주세요"
          value={@results.params.search}
          phx-debounce="300"
        />
        <.link patch={@results.current_path} class="btn btn-warning">
          초기화
        </.link>
      </div>
    </form>
  </div>
  
  <div class="table-container">{render_slot(@inner_block)}</div>
  
  <div class="relative flex mt-6 p-2">
    <div class="flex items-center gap-4">
      <div class="text-sm font-medium text-base-content/70">
        Total: <span class="font-bold text-base-content">{@results.total_count}</span>
      </div>
      
      <form phx-change="update-filters" phx-target={@myself} class="flex items-center gap-2">
        <input
          type="number"
          name="page_size"
          value={@results.params.page_size}
          class="input input-bordered input-sm w-16 text-center"
          phx-debounce="500"
        /> <span class="text-xs text-base-content/55">/ page</span>
      </form>
    </div>
    
    <div class="absolute left-1/2 -translate-x-1/2 join">
      <.link
        :if={@results.params.page > 1}
        patch={"#{@results.current_path}?#{Plug.Conn.Query.encode(Map.put(@results.params, :page, @results.params.page - 1))}"}
        class="join-item btn btn-sm btn-ghost"
      >
        &lt;
      </.link>
      
      <button :if={@results.params.page <= 1} class="join-item btn btn-sm btn-disabled" disabled>
        &lt;
      </button>
      
      <div class="flex items-center bg-base-100">
        <span
          :for={
            page_num <-
              Enum.uniq([
                1,
                @results.params.page - 1,
                @results.params.page,
                @results.params.page + 1,
                @results.total_pages
              ])
          }
          :if={page_num > 0 and page_num <= @results.total_pages}
          class="contents"
        >
          <button
            :if={
              page_num == @results.total_pages and @results.params.page < @results.total_pages - 2
            }
            class="join-item btn btn-sm btn-disabled bg-base-100! text-base-content/40"
            disabled
          >
            ...
          </button>
          
          <.link
            patch={"#{@results.current_path}?#{Plug.Conn.Query.encode(Map.put(@results.params, :page, page_num))}"}
            class={[
              "join-item btn btn-sm",
              page_num == @results.params.page && "btn-primary font-bold",
              page_num != @results.params.page && "btn-ghost font-normal"
            ]}
          >
            {page_num}
          </.link>
          
          <button
            :if={page_num == 1 and @results.params.page > 3}
            class="join-item btn btn-sm btn-disabled bg-base-100! text-base-content/40"
            disabled
          >
            ...
          </button>
        </span>
      </div>
      
      <.link
        :if={@results.params.page < @results.total_pages}
        patch={"#{@results.current_path}?#{Plug.Conn.Query.encode(Map.put(@results.params, :page, @results.params.page + 1))}"}
        class="join-item btn btn-sm btn-ghost"
      >
        &gt;
      </.link>
      
      <button
        :if={@results.params.page >= @results.total_pages}
        class="join-item btn btn-sm btn-disabled"
        disabled
      >
        &gt;
      </button>
    </div>
  </div>
</div>
