<.header>
  Listing Approvals
  <:actions>
    <.link patch={~p"/admin/approvals/new"}><.button>New Approval</.button></.link>
  </:actions>
</.header>

<.table
  id="approvals"
  rows={@streams.approvals}
  row_click={fn {_id, approval} -> JS.navigate(~p"/admin/approvals/#{approval}") end}
>
  <:col :let={{_id, approval}} label={gettext("Status")}>{approval.status}</:col>

  <:col :let={{_id, approval}} label={gettext("Approver")}>{approval.approver_id}</:col>

  <:col :let={{_id, approval}} label={gettext("Approver name")}>{approval.approver_name}</:col>

  <:action :let={{_id, approval}}>
    <div class="sr-only"><.link navigate={~p"/admin/approvals/#{approval}"}>Show</.link></div>
    <.link patch={~p"/admin/approvals/#{approval}/edit"}>Edit</.link>
  </:action>

  <:action :let={{id, approval}}>
    <.link
      phx-click={JS.push("delete", value: %{id: approval.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal
  :if={@live_action in [:new, :edit]}
  id="approval-modal"
  show
  on_cancel={JS.patch(~p"/admin/approvals")}
>
  <.live_component
    module={ItsmWeb.AdminApprovalLive.FormComponent}
    id={@approval.id || :new}
    title={@page_title}
    action={@live_action}
    approval={@approval}
    patch={~p"/admin/approvals"}
  />
</.modal>
