<.header>
  Asset {@asset.id}
  <:subtitle>This is a asset record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/admin/assets/#{@asset}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit asset</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title={gettext("Name")}>{@asset.name}</:item>
  <:item title={gettext("Description")}>{@asset.description}</:item>
  <:item title={gettext("Affiliate")}>
    <.common_code_label group="계열사" code={@asset.affiliate} />
  </:item>
  <:item title={gettext("Category")}>
    <.common_code_label group="카테고리" code={@asset.category} />
  </:item>
  <:item title={gettext("Region Type")}>
    <.common_code_label group="지역_유형" code={@asset.region_type} />
  </:item>
  <:item title={gettext("Infra Type")}>
    <.common_code_label group="인프라_유형" code={@asset.infra_type} />
  </:item>
  <:item title={gettext("Environment")}>
    <.common_code_label group="운영_구분" code={@asset.env} />
  </:item>
  <:item title={gettext("Location")}>
    <.common_code_label group="장소" code={@asset.location} />
  </:item>
  <:item title={gettext("Is Dmz Zone")}>{@asset.is_dmz_zone}</:item>
  <:item title={gettext("Service Crew")}>
    <ItsmWeb.CustomComponents.crew_tooltip crew={@asset.service_crew} />
  </:item>
  <:item title={gettext("System Crew")}>
    <ItsmWeb.CustomComponents.crew_tooltip crew={@asset.system_crew} />
  </:item>
  <:item title={gettext("Inserted At")}>
    <span
      id={"asset-inserted-at-#{@asset.id}"}
      phx-hook="LocalTime.ToLocale"
      utc-value={@asset.inserted_at}
    />
  </:item>
  <:item title={gettext("Updated At")}>
    <span
      id={"asset-updated-at-#{@asset.id}"}
      phx-hook="LocalTime.ToLocale"
      utc-value={@asset.updated_at}
    />
  </:item>
</.list>

<.back navigate={~p"/admin/assets"}>Back to assets</.back>

<.modal
  :if={@live_action == :edit}
  id="asset-modal"
  show
  on_cancel={JS.patch(~p"/admin/assets/#{@asset}")}
>
  <.live_component
    module={ItsmWeb.Admin.AssetLive.FormComponent}
    id={@asset.id}
    title={@page_title}
    action={@live_action}
    asset={@asset}
    current_user={@current_user}
    patch={~p"/admin/assets/#{@asset}"}
  />
</.modal>
