<.filter_form form={@form} group_select_options={@group_select_options} />
<div id="categories-container" class="mt-6 space-y-10">
  <div :for={group <- @filtered_category_groups} class="group-section">
    <div class="relative py-4 border-b border-zinc-100 mb-4">
      <span class="bg-white pr-3 text-sm font-bold text-zinc-800">{group}</span>
    </div>

    <div
      id={"category_card-container_#{group}"}
      phx-update="stream"
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6"
    >
      <.category_card
        :for={{dom_id, category} <- @streams.categories}
        :if={category.group == group}
        category={category}
        id={dom_id}
      />
    </div>
  </div>
</div>
