<Layouts.default current_scope={@current_scope} menu_title={gettext("Service Request")} flash={@flash}>
  <.filter_form form={@form} group_select_options={@group_select_options} />
  <div id="categories-container" class="mt-6 space-y-10">
    <div :for={group <- @filtered_category_groups} class="group-section">
      <div class="text-xl">{group}</div>
      <div class="divider"/>

      <div
        id={"category-card-container-#{group}"}
        phx-update="stream"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6"
      >
        <.category_card
          :for={{dom_id, category} <- @streams.categories}
          :if={category.group == group}
          category={category}
          id={dom_id}
        />
      </div>
    </div>
  </div>
</Layouts.default>
