<.header>
  Category {@category.id}
  <:subtitle>This is a category record from your database.</:subtitle>

  <:actions>
    <.link patch={~p"/admin/categories/#{@category}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit category</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title={gettext("Name")}>{@category.name}</:item>

  <:item title={gettext("Description")}>{@category.description}</:item>

  <:item title={gettext("Affiliate")}>{@category.affiliate}</:item>

  <:item title={gettext("Request name")}>{@category.request_name}</:item>

  <:item title={gettext("Group")}>{@category.group}</:item>

  <:item title={gettext("Active")}>{@category.active}</:item>

  <:item title={gettext("Inserted at")}>
    <span
      id={"category-inserted-at-#{@category.id}"}
      phx-hook="LocalTime.ToLocale"
      utc-value={@category.inserted_at}
    >
    </span>
  </:item>

  <:item title={gettext("Updated at")}>
    <span
      id={"category-updated-at-#{@category.id}"}
      phx-hook="LocalTime.ToLocale"
      utc-value={@category.updated_at}
    >
    </span>
  </:item>
</.list>

<.back navigate={~p"/admin/categories"}>Back to categories</.back>

<.modal
  :if={@live_action == :edit}
  id="category-modal"
  show
  on_cancel={JS.patch(~p"/admin/categories/#{@category}")}
>
  <.live_component
    module={ItsmWeb.Admin.CategoryLive.FormComponent}
    id={@category.id}
    title={@page_title}
    action={@live_action}
    category={@category}
    patch={~p"/admin/categories/#{@category}"}
  />
</.modal>
