<Layouts.admin current_scope={@current_scope} menu_title={gettext("Categories")} flash={@flash}>
  <.header>
    Category {@category.id}
    <:subtitle>This is a category record from your database.</:subtitle>

    <:actions>
      <.button navigate={~p"/admin/categories"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.link navigate={~p"/admin/categories/#{@category}/edit"}>
        <.button>Edit category</.button>
      </.link>
    </:actions>
  </.header>

  <.list>
    <:item title={gettext("Name")}>{@category.name}</:item>

    <:item title={gettext("Description")}>{@category.description}</:item>

    <:item title={gettext("Affiliate")}>
      <.common_code_label group="계열사" code={@category.affiliate} />
    </:item>

    <:item title={gettext("Request Name")}>{@category.request_name}</:item>

    <:item title={gettext("Group")}>
      <.common_code_label group="그룹" code={@category.group} />
    </:item>

    <:item title={gettext("Category")}>
      <.common_code_label group="카테고리" code={@category.category} />
    </:item>

    <:item title={gettext("Duration")}>{@category.duration}</:item>

    <:item title={gettext("Active")}>{@category.active}</:item>

    <:item title={gettext("Inserted At")}>
      <span
        id={"category-inserted-at-#{@category.id}"}
        phx-hook="LocalTime.ToLocale"
        utc-value={@category.inserted_at}
      />
    </:item>

    <:item title={gettext("Updated At")}>
      <span
        id={"category-updated-at-#{@category.id}"}
        phx-hook="LocalTime.ToLocale"
        utc-value={@category.updated_at}
      />
    </:item>
  </.list>
</Layouts.admin>
