defmodule <%= inspect context.web_module %>.<%= inspect Module.concat(schema.web_namespace, schema.alias) %>Live.Index do
  use <%= inspect context.web_module %>, :live_view

  alias <%= inspect context.module %>
  alias <%= inspect schema.module %>
  alias <%= inspect context.base_module %>.Paging

  def mount(_params, _session, socket) do
    {:ok, socket |> stream(:<%= schema.collection %>, []) |> Itsm.PubSub.Helper.subscribe(<%= inspect context.alias %>)}
  end

  def handle_params(params, url, socket) do
    {:noreply, apply_action(socket, socket.assigns.live_action, params, url)}
  end

  def handle_event("delete", %{"id" => _id} = <%= schema.singular %>_params, socket) do
    %{current_user: action_user} = socket.assigns
    {:ok, <%= schema.singular %>} = <%= inspect context.alias %>.delete_<%= schema.singular %>(action_user, <%= schema.singular %>_params)

    {:noreply, stream_delete(socket, :<%= schema.collection %>, <%= schema.singular %>)}
  end

  def handle_info({:pubsub, {action_user, event, item}}, socket) do
    handle_pubsub(action_user, event, item, socket)
  end

  def handle_info(_event, socket), do: {:noreply, socket}

  defp apply_action(socket, :index, params, url) do
    opts = [default_columns: <%= inspect Keyword.keys(schema.attrs) %>]
    value =
      Paging.search_and_pagination(<%= inspect schema.alias %>, params, url, opts)

    socket
    |> assign(:results, value.results)
    |> stream(:<%= schema.collection %>, value.entries, reset: true)
    |> assign(:page_title, "Listing <%= schema.human_plural %>")
    |> assign(:<%= schema.singular %>, nil)
  end

  defp apply_action(socket, :new, _params, _url) do
    socket
    |> assign(:page_title, "New <%= schema.human_singular %>")
    |> assign(:<%= schema.singular %>, %<%= inspect schema.alias %>{})
  end

  defp apply_action(socket, :edit, %{"id" => id}, _url) do
    socket
    |> assign(:page_title, "Edit <%= schema.human_singular %>")
    |> assign(:<%= schema.singular %>, <%= inspect context.alias %>.get_<%= schema.singular %>!(id))
  end

  defp handle_pubsub(action_user, event, item, socket) do
    opts = [
      resource_name: gettext("<%= schema.human_singular %>"),
      target_key: :<%= schema.collection %>,
      push_patch: [to: "#{socket.assigns.current_path}"]
    ]

    {:noreply, socket |> ItsmWeb.LiveUtils.handle_standard_pubsub(action_user, event, item, opts)}
  end
end
