<.header>
  Listing Common codes
  <:actions>
    <.link patch={~p"/admin/common_codes/new"}>
      <.button>New Code</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="common_codes"
  rows={@streams.common_codes}
  row_click={fn {_id, common_code} -> JS.navigate(~p"/admin/common_codes/#{common_code}") end}
>
  <:col :let={{_id, common_code}} label="Group code">{common_code.group_code}</:col>
  <:col :let={{_id, common_code}} label="Code">{common_code.code}</:col>
  <:col :let={{_id, common_code}} label="Label">{common_code.label}</:col>
  <:col :let={{_id, common_code}} label="Description">{common_code.description}</:col>
  <:col :let={{_id, common_code}} label="Sort order">{common_code.sort_order}</:col>
  <:col :let={{_id, common_code}} label="Is active">{common_code.is_active}</:col>
  <:action :let={{_id, common_code}}>
    <div class="sr-only">
      <.link navigate={~p"/admin/common_codes/#{common_code}"}>Show</.link>
    </div>
    <.link patch={~p"/admin/common_codes/#{common_code}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, common_code}}>
    <.link
      phx-click={JS.push("delete", value: %{id: common_code.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal
  :if={@live_action in [:new, :edit]}
  id="codes-modal"
  show
  on_cancel={JS.patch(~p"/admin/common_codes")}
>
  <.live_component
    module={ItsmWeb.AdminCommonCodeLive.FormComponent}
    id={@common_code.id || :new}
    title={@page_title}
    action={@live_action}
    common_code={@common_code}
    patch={~p"/admin/common_codes"}
  />
</.modal>
